<table>
    <tr>
        <th>Card Name</th>
        <th>Card Content</th>
        <th>User Pair</th>
        
    </tr>
    <% if (obj.length) { %>
        <% for(var i = 0; i < obj.length; i++) { %>
            <% var livecard = obj[i]%>
            <tr>
                <td>
                    <%= livecard.cardName %>
                </td>
                <td>
                    <%= livecard.cardContent%>
                </td>
                <td>
                    <%= livecard.pair %>
                </td>
                <td>
                    <button>Edit  <%= livecard.cardName %> </button>
                </td>
            </tr>
        <% }; %>
    <% } %>
</table>