<script src="javascripts/edit_card.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles.css">

<% if (obj.length) { %>
        <% for(var i = 0; i < obj.length; i++) { %>
            <% var livecard = obj[i]%>
            <h2 id="cardName"> <%=livecard.cardName%> </h2>
            <br>
            <textarea id="card" rows ="15" cols = "30" placeholder="pressing spacebar sends the text you wrote live to other users"><%= livecard.cardContent %></textarea> 
            <br>
            <button id= 'save'>save card</button>


            <button id='chat'>chat!</button>
            <br>
            
        <% }; %>
    <% } %>


