<!DOCTYPE HTML>
<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="javascripts/home.js"></script>
</head>
    <body>
        <p>congrats login was successful, you're now at the homepage</p>
        
        <form id='edit_user'>
            <h3>Edit user info:</h3>
            please insert your current username here: 
            <br><input id="orig_username" type="text", autocomplete="off"><br>
            <p>this is what you want to change:</p>
            First Name: <br><input id= 'edit_firstName' type="text", autocomplete="off"><br>
            <!-- Last Name: <br><input id= 'lastName' type="text", autocomplete="off" ><br> -->
            <input id= 'editUser' type = "submit">
        </form>
        <p><span id="edit_msg"></span></p>
        <br>

        <h3> Delete an existing card here</h3>
        <form id="delete_card">
            Card Name: <br><input id= 'deleted_cardName' type="text", autocomplete="off"><br>
            <input id= 'deleteCard' type = "submit">
        </form>
        <p><span id="delete_msg"></span></p>
        <br>

        <p> create new card here: </p>
        <a href = "new_live_card"><button id="newcard"> new card </button></a>

        <p>Retrieve all cards made with this user:</p>
        <form id='getByUser'>
            username:
            <br>
            <input id="findByUser" type="text", autocomplete="off">
            <br>
            <input id= 'addUserSubmit' type = "submit">
        </form>
        <p><span id="card_msg"></span></p>
    </body>
</html>