<!DOCTYPE HTML>
<html>
<head>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- <script src="javascripts/index.js"></script> -->
	<link href="https://fonts.googleapis.com/css?family=Catamaran:bold" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">

	<title>Long Time No See</title>
</head>
	<body>
        <div class="top">
            <h1>Long time no see.</h1>
        </div>
        <div class="bottom">
            <h4><a href="login">Login here</a> &nbsp; &nbsp;
            <a href="register">Register Here</a></h4>

        </div>
       


        



	</body>
</html>
