<!DOCTYPE HTML>
<html>
<head>
    <script src="../socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="javascripts/clientSocket.js"></script>

</head>
<body>
    <p> There are currently <span id="numPlayers">no other</span> users online.</p>
    <p>  <span id="welcome"></span></p>



    <!-- <form id = "card"> -->

    <textarea id="card" rows ="15" cols = "30" placeholder="pressing enter sends the text you wrote live to other users"></textarea> 
    <br>
    <button id= 'save'>save card</button>
    <!-- </form> -->
</body>
</html>