<!DOCTYPE html>
<html>
<head>
    <script src="../socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="javascripts/live_cards.js"></script>
    <link rel="stylesheet" type="text/css" href="css/live_cards.css">
    <title>Edit Cards</title>
</head>
<body>
    <p>Retrieve all cards made with this user:</p>
    <form id='getByUser'>
        username:
        <br>
        <input id="findByUser" type="text", autocomplete="off">
        <br>
        <input id= 'addUserSubmit' type = "submit">
    </form>
    <p><span id="card_msg"></span></p>
    <br>
   

    <p>Get card by card name:</p>
    <form id='getByCardName'>
        card name:
        <br>
        <input id="findByCardName" type="text", autocomplete="off">
        <br>
        <input id= 'getCardbyTitle' type = "submit">
    </form>
    <p><span id="edit_card_bytitle"></span></p>
    <br>
</body>
</html>